{% extends "base.html" %}

{% block content %}
<h2>Actual Minifigures</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Template</th>
        <th>Box Number</th>
        <th>Position Number</th>
        <th>Weapon Slot</th>
        <th>Condition</th>
    </tr>

    {% for ac in actuals %}
    <tr>
        <td>{{ ac.id }}</td>
        <td>{{ ac.template.id }}</td>
        <td>{{ ac.box_number }}</td>
        <td>{{ ac.position_in_box }}</td>
        <td>{{ ac.weapon_slot.id }}</td>
        <td>{{ ac.condition }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock %}