{% extends "base.html" %}

{% block content %}
<h2>Lego Parts</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>BrickLink ID</th>
        <th>BrickLink Color ID</th>
        <th>Lego Element ID</th>
        <th>Lego Design ID</th>
        <th>Description</th>
    </tr>

    {% for part in parts %}
    <tr>
        <td>{{ part.id }}</td>
        <td>{{ part.bricklink_part_id }}</td>
        <td>{{ part.bricklink_color_id }}</td>
        <td>{{ part.lego_element_id }}</td>
        <td>{{ part.lego_design_id }}</td>
        <td>{{ part.description }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
