{% extends "base.html" %}

{% block content %}
<h2>Weapons</h2>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Parts</th>
    </tr>

    {% for weapon in weapons %}
    <tr>
        <td>{{ weapon.id }}</td>
        <td>{{ weapon.name }}</td>
        <td>{{ weapon.description }}</td>
        <td>
            {% for part in weapon.parts %}
                {{ part.id }}{% if not loop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}